.player {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.time-control {
  width: 50%;
  border-radius: 50px;
  background: #ffffff;
  display: flex;
  box-shadow: inset 0px -8px 12px #d9d9d9, -1px -4px 4px #ffffff;

  input {
    width: 100%;
    padding: 1rem 0rem;
  }
  p {
    padding: 1rem;
  }
}

.play-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 50%;
  box-shadow: 1px 6px 4px #d9d9d9, -1px -4px 4px #ffffff;
}
