.song-container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 258px;
    height: 258px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 14px 14px 64px #b0b0b0, -14px -14px 64px #ffffff;
  }

  .animate {
    animation: spin 12s linear infinite;
  }

  @-moz-keyframes spin {
    100% {
      -moz-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  h2 {
    padding: 2rem 1rem 1rem 3rem;
  }
  h3 {
    font-size: 1rem;
  }
}
